body{
    background: #ddd3;
    height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: Muli;
    font-size: 14px;    
}
.card_aux{
    margin: auto;
    width: 38%;
    max-width:600px;
    padding: 4vh 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    border-left: none;
    border-right: none;
}
@media(max-width:768px){
    .card_aux{
        width: 90%;
    }
}
