/* NEW CAROUSEL CLASS */
.mega-container {
    background-color: #efefef;
    border-radius: 6px;
    padding: 15px;
    margin: 25px 0;
    animation: fadeIn-data-v-1b272f6a 1s ease;
    position: relative;
}

#nomt {
    margin-top: 0px;
}

#carsize {
    height: 300px;
    width: 700px;
}

/* NEW CAROUSEL CLASS */

/* SEARCH BAR */
.navbar-toggler {
    border-color: green;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 150px;
    caret-color: green;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: green;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: green;
    text-decoration: none;
}

/* END SEARCH BAR */


.smf {
    font-size: 0.875rem;
}

.btn {
    bottom: -57px;
}

.card-footer {
    border: none;
    text-align: center;
}

.card {
    --bs-card-title-spacer-y: -0.5rem;
}

.p_80t {
    padding-top: 80px;
}

.p_40t {
    padding-top: 40px;
}

.p_20t {
    padding-top: 20px;
}

.p_15b {
    padding-bottom: 15px;
}

.p_15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p_80b {
    padding-bottom: 80px;
}

.p_40b {
    padding-bottom: 40px;
}

.featurette-divider {
    margin: 5rem 0;
}